.contact {
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    margin: 3rem 0;
}

.about-us-wrap {
    padding: 4rem;
    height: 100%;
}

.about-us-content p span {
    font-weight: bold;
    color: var(--secondary-color);
}

.advertise {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.contact-form {
    padding: 2rem 4rem;
    background: var(--primary-color);
}

.contact-form .form-group label {
    color: var(--white-color);
}

.contact-form .form-control {
    border-radius: 0;
    border: 1px solid transparent;
    height: 3rem;
}

.contact-form .form-control {
    border-radius: 0;
    border: 1px solid transparent;
    height: 3rem;
}

.contact-form .form-group textarea {
    height: 150px;
}

.contact-form .btn-primary {
    background-color: transparent;
    border: 2px solid var(--white);
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
}

.contact-form a {
    background: var(--secondary-color);
    color: var(--white-color);
    display: inline-block;
    border: 1px solid var(--secondary-color);
    padding: 5px 15px;
}

.contact-form a:hover {
    background: var(--white-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.contact-details-heading {
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 10px;
}

.advertise h3 {
    color: var(--primary-color);
    font-weight: 700;
}

.advertise p span {
    color: var(--secondary-color);
    font-weight: bold;
}